Package: net.sourceloc.statustimeformatter
Name: StatusTimeFormatter
Version: 1.0
Architecture: iphoneos-arm
Description: Change the time label to show current date
Maintainer: sourcelocation
Author: sourcelocation
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
